body {
    background-color: #d3ddff;
    margin: 0;
    padding: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Georgia";
}

.flex-box {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.flex-box .title {
    color: #669bbc;
}

.add-task-button {
    background: white;
    padding: 8px;
    border-radius: 10%;
}

.navbar .container .navbar-menu .navbar-start .is-active {
    background-color: #669bbc;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /*fondo semitransparente*/
}

.modal-content {
    background-color: white; 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.modal h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
    

}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin-bottom: 10px;
}

.modal form input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
} 

.modal-buttons {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.modal-buttons button {
    background-color:#669bbc;
    padding: 10px; 
    border-radius: 15%;
}

.modal-content h2 {
    display: flex;
    justify-content: center;
}

.modal-content form .columns .column .box {
    background-color: #d3ddff ;
}

/* Estilo para pantallas de 1440px */
@media screen and (min-width: 1440px) {
    .columns.is-mobile.custom-column {
        flex-wrap: nowrap;
    }
}

/* Estilo para pantallas de 768px */
@media screen and (max-width: 768px) {
    .columns.is-mobile.custom-column {
        flex-wrap: wrap; 
        overflow-x: hidden; 
    }
    .column {
        flex-basis: 50%; 
    }
}

/* Estilo para pantallas de 425px */
@media screen and (max-width: 425px) {
    .columns.is-mobile.custom-column {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: hidden;
        overflow-y: auto; 
    }
    .add-task-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .column {
        flex-basis: 100%; 
    }
}

